@import url("theme.css");

body {
    color: #aaa;
}

hr {
    border-top: #800000;
}

h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
    color: #ddd;
}

a {
    color: #ee6622;
}
a:visited {
    color: #991111;
}


.wy-side-nav-search {
    background-color: #fff;
}

@keyframes wy_nav_input_blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #ff0000;
    }
}

.wy-side-nav-search input[type=text] {
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    border-left: inset thick;
    border-bottom: none;
    border-right: none;
    border-top: none;
    -webkit-animation: wy_nav_input_blink 5s ease-in-out infinite;
    animation: wy_nav_input_blink 5s ease-in-out infinite;
}

.wy-nav-side {
    background-color: #9c2c21;
}

.wy-nav-content {
    background-color: #2f2f2f;
}

.wy-nav-content-wrap {
    background-color: #222222;
}

.wy-nav-top {
    background-color: #9c2c21;
}

.wy-menu-vertical a {
    color: #d9d9d9;
}

.wy-menu-vertical a:hover {
    color: #2f2f2f;
    background-color: #fff;
    cursor: pointer;
    border-right: inset thick #ff0000;
}

